# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
ENV/

# Django
*.log
db.sqlite3
media/

# IDE
.vscode/
.idea/

# Environment variables
.env

# System Files
.DS_Store
Thumbs.db 